<div class="container-fluid">
  <!-- Header -->
  <div class="d-flex justify-content-between pt-3 pb-2 mb-3 border-bottom">
    <div class="col-1 d-md-none"></div>
    <p class="h2 sf-blue-midnight">Dashboard</p>
  </div>

  <!-- Dashboard Card row-->
  <div class="row">
    <!-- Total Farm -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="sf-gray-manatee text-uppercase mb-1">Total Farms</div>
              <div class="h5 my-3 sf-blue-midnight">4</div>
              <div class="d-flex flex-wrap mb-0 text-xs no-gutters">
                <div class="text-success mr-2">33% ^</div>
                <div class="sf-gray-manatee">than last year</div>
              </div>
            </div>
            <div class="col-auto">
              <span class="fa-stack fa-2x" style="color: #2a5426;">
                <i class="fa fa-circle fa-stack-2x" style="opacity: 0.2"></i>
                <mat-icon style="text-align: center; width: 100%; line-height: inherit;">local_florist</mat-icon>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Electric Cost -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="sf-gray-manatee text-uppercase mb-1">Electric Cost</div>
              <div class="h5 my-3 sf-blue-midnight">฿44,000</div>
              <div class="d-flex flex-wrap mb-0 text-xs no-gutters">
                <div class="text-success mr-2">6.2% v</div>
                <div class="sf-gray-manatee">than last year</div>
              </div>
            </div>
            <div class="col-auto">
              <span class="fa-stack fa-2x" style="color: #D8B238;">
                <i class="fa fa-circle fa-stack-2x" style="opacity: 0.2"></i>
                <i class="fa fa-bolt fa-stack-1x"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Water Cost -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="sf-gray-manatee text-uppercase mb-1">Water Cost</div>
              <div class="h5 my-3 sf-blue-midnight">฿32,500</div>
              <div class="d-flex flex-wrap mb-0 text-xs no-gutters">
                <div class="text-success mr-2">4.6% v</div>
                <div class="sf-gray-manatee">than last year</div>
              </div>
            </div>
            <div class="col-auto">
              <span class="fa-stack fa-2x" style="color: #315fb3;">
                <i class="fa fa-circle fa-stack-2x" style="opacity: 0.2"></i>
                <i class="fa fa-tint fa-stack-1x"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Utility Graph -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <!-- Card Body -->
        <div class="card-body" style="height:45vh">
          <h3 class="m-0 sf-blue-midnight">Utility reports</h3>
          <div class="">
            <app-bar-chart [dataset]="dataset"></app-bar-chart>
          </div>
        </div>
      </div>
    </div>

    <!-- Map API -->
    <div class="col-xl-6 col-lg-6">
      <div class="card shadow mb-4">
        <div class="map-container">
          <div class="map-frame">
            <app-map [zoom]="13"></app-map>
            <!-- <app-map [coordinate] = "currentLocation"></app-map> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
