<div class="container-fluid">
  <!-- Header -->
  <div class="d-flex justify-content-between pt-3 pb-2 mb-3 border-bottom">
    <!-- <div class="col-1 d-md-none"></div> -->
    <p class="h2 sf-blue-midnight">{{pageTitle}}</p>
    <div class="ml-2 m-0 form-group">
      <app-search-farm></app-search-farm>
    </div>
  </div>

  <!-- Dashboard Card row-->
  <div class="row">
    <!-- Electric Cost -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="sf-gray-manatee text-uppercase mb-1">Electric Cost</div>
              <div class="h5 my-3 sf-blue-midnight">฿44,000</div>
              <div class="d-flex flex-wrap mb-0 text-xs no-gutters">
                <div class="text-success mr-2">6.2% v</div>
                <div class="sf-gray-manatee">than last year</div>
              </div>
            </div>
            <div class="col-auto">
              <span class="fa-stack fa-2x sf-orange-cinnabar">
                <i class="fa fa-circle fa-stack-2x" style="opacity: 0.2"></i>
                <i class="fa fa-bolt fa-stack-1x"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Water Cost -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="sf-gray-manatee text-uppercase mb-1">Water Cost</div>
              <div class="h5 my-3 sf-blue-midnight">฿32,500</div>
              <div class="d-flex flex-wrap mb-0 text-xs no-gutters">
                <div class="text-success mr-2">4.6% v</div>
                <div class="sf-gray-manatee">than last year</div>
              </div>
            </div>
            <div class="col-auto">
              <span class="fa-stack fa-2x sf-green-tepapa">
                <i class="fa fa-circle fa-stack-2x" style="opacity: 0.2"></i>
                <i class="fa fa-tint fa-stack-1x"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="d-inline-flex flex-wrap px-3 py-2" style="border-radius: 14px; background-color: #e4e4e4;">
    <!-- Farm Card -->
    <div *ngFor="let farm of farms let i = index">
      <div *ngIf="farm.name" class="">
        <div (click)="clickStation(farm.fiware_service.value)" class="text-white" style="cursor: pointer">
          <div class="card farm-card text-white m-2" [style.background-color]="color[i % 5]"
            style="border:0; border-radius: 12px">
            <img class="" src="https://picsum.photos/id/1018/800/600"
              style="max-height: 7rem; border-top-left-radius: inherit; border-top-right-radius: inherit;"
              alt="Card image" />
            <div class="card-body p-2" style="min-height: 4rem;">
              <p class="card-text">{{ farm.name.value }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
