<div class="container-fluid">
  <!-- Header -->
  <div class="d-flex justify-content-between pt-3 pb-3 mb-3 border-bottom">
    <!-- <div class="col-1 d-md-none"></div> -->
    <div class="d-flex">
      <button class="btn sf-blue-midnight mr-2" (click)="backClicked()">
        <i class="fa fa-chevron-left"></i>
      </button>
      <p class="h2 m-0 sf-blue-midnight">{{ pageTitle }}</p>
    </div>
    <div class="ml-2 m-0 form-group">
      <input type="text" class="form-control" placeholder="Search ..." />
    </div>
  </div>

  <!-- Dashboard Card row-->
  <div class="row">
    <!-- Electric Cost -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="sf-gray-manatee text-uppercase mb-1">Electric Cost</div>
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 my-3 sf-blue-midnight">$215,000</div>
              <div class="d-flex flex-wrap mb-0 text-xs no-gutters">
                <div class="text-danger mr-2">2.3% ^</div>
                <div class="sf-gray-manatee">than last year</div>
              </div>
            </div>
            <div class="col-auto">
              <span class="fa-stack fa-2x sf-brown-blackbean">
                <i class="fa fa-circle fa-stack-2x" style="opacity: 0.2"></i>
                <i class="fa fa-bolt fa-stack-1x"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Water Cost -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="sf-gray-manatee text-uppercase mb-1">Water Cost</div>
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="h5 my-3 sf-blue-midnight">$215,000</div>
              <div class="d-flex flex-wrap mb-0 text-xs no-gutters">
                <div class="text-danger mr-2">2.3% ^</div>
                <div class="sf-gray-manatee">than last year</div>
              </div>
            </div>
            <div class="col-auto">
              <span class="fa-stack fa-2x sf-green-tepapa">
                <i class="fa fa-circle fa-stack-2x" style="opacity: 0.2"></i>
                <i class="fa fa-tint fa-stack-1x"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div
      class="col-xl-4 col-lg-4"
      *ngFor="let sensor of sensors; let i = index"
    >
      <app-sensor
        *ngIf="sensor.mounting_point_name"
        [sensor]="sensor"
      ></app-sensor>
    </div>
    <!-- <div class="col-xl-6 col-lg-6">
      <h3 class="py-1 sf-blue-midnight">Sensors</h3>
      <div class="card shadow mb-4">
        <div class="card-body">
          <div class="">
            <canvas id=""></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6">
      <h3 class="py-1 sf-blue-midnight">Details</h3>
      <div class="card shadow mb-4">
        <div class="card-body">
          <div class="">
            <canvas id=""></canvas>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
