<div class="text-center">
  <h1 style="color: #543526;
  font-family: 'K2D', sans-serif;
  background-color: #e7e8cb;
  padding: 0.6rem;
  font-weight: 500;
  font-size: 1.8em;">{{ sensor.mounting_point_name == undefined ? sensor.id :sensor.mounting_point_name.value }}</h1>
</div>
<div class="row">
  <div class="col-12 col-lg-4 col-xl-3">
    <div class="card shadow mb-4">
      <div class="card-body">
        <!-- <h1 class="card-title">{{ sensor.mounting_point_name.value }}</h1> -->
        <div class="" *ngFor="let need of neededArray; let i = index">
          <h2 style="color: #352754;font-family: 'K2D', sans-serif;" class="text-center" *ngIf="
          need.data.value != null && need.data.value.toString().trim() != ''
        ">
            {{
              type == 'WeatherForecast' ? need.name: need.data.metadata.name.value == ""
            ? need.name
            : need.data.metadata.name.value
        }}
            <!-- <span style="float: right">{{
          need.data.value.toString().trim()
        }}</span> -->
            <!-- <app-gauges [inputValue] = need.data.value [inputMax] = 100 [inputMin] = 0></app-gauges> -->
            <app-gauges [inputValue]="need.data.value==undefined? need.data : need.data.value" [inputMax]="need.data.metadata.ranges ==undefined? 100 : need.data.metadata.ranges.value.max"
              [inputMin]="need.data.metadata.ranges ==undefined? 0 :need.data.metadata.ranges.value.min"></app-gauges>
          </h2>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-8 col-xl-9">
    <div class="card shadow mb-4">
      <div class="card-body">
        <!-- <h1 class="card-title">{{ sensor.mounting_point_name.value }}</h1> -->
        <div class="row">
          <div class="col-12" *ngFor="let ap of attrPart; let i = index">
            <app-line-chart-time [dataArr]=ap.valueJson [labelArr]=ap.offsetTimeArr></app-line-chart-time>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
