<!-- <input class="form-control" [(ngModel)]="textSearch" type="text" placeholder="Search.." (change)="changeSearchFarm()">
<br>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let farm of farms">{{farm.id}}</li>
</ul> -->

<form class="">
  <input class="form-control" type="text" placeholder="Search..." [matAutocomplete]="auto" [formControl]="control">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionStation($event)">
    <mat-option *ngFor="let farm of filteredFarms | async" [value]="farm">
      {{farm}}
    </mat-option>
  </mat-autocomplete>
</form>

