<!-- <h1 mat-dialog-title>{{dialogTitle}}</h1>
<div mat-dialog-content>
  <form style="width: 40rem;">
    <div class="form-group">
      <label for="">Service Name:</label>
      <input type="text" class="form-control" id="" placeholder="">
    </div>
    <div class="text-right">
      <button class="btn btn-info">Add template</button>
    </div>
    <div class="p-2 my-2" style="background-color: #F5F5F5;">
      <div class="form-group">
        <label for="">Device template:</label>
        <select class="form-control">
          <option value="">device 1</option>
          <option value="">device 2</option>
        </select>
      </div>
      <div class="form-group">
        <label for="">Entity name:</label>
        <input type="text" class="form-control" id="" placeholder="" value="ngnsi-device1:001" disabled>
      </div>
      <div class="form-group">
        <label for="">Device ID:</label>
        <input type="text" class="form-control" id="" placeholder="" value="device1:001" disabled>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
      </div>
    </div>
    <div class="text-right">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div> -->

<h1 mat-dialog-title>{{dialogTitle}}</h1>
<div mat-dialog-content>
  <div style="width: 40rem;">
    <div class="form-group">
      <label for="">Farm ID<b style="color: red;">*</b></label>
      <input type="text" class="form-control" [(ngModel)]="farm.farm_id" placeholder="ex: fa1, fa2 etc.">
    </div>
    <div class="form-group">
      <label for="">Farm Name<b style="color: red;">*</b></label>
      <input type="text" class="form-control" [(ngModel)]="farm.farm_name" placeholder="ex: Raimei farm etc.">
    </div>
    <div class="form-group">
      <label for="">Owner Name<b style="color: red;">*</b></label>
      <input type="text" class="form-control" [(ngModel)]="farm.owner" placeholder="ex: Ck Boa etc.">
    </div>
    <div class="form-group">
      <label for="">Latitude<b style="color: red;">*</b></label>
      <input type="number" class="form-control" [(ngModel)]="farm.lati" placeholder="ex: 38.8951 or -77.0364">
    </div>
    <div class="form-group">
      <label for="">Longitude<b style="color: red;">*</b></label>
      <input type="number" class="form-control" [(ngModel)]="farm.long" placeholder="ex: 38.8951 or -77.0364">
    </div>
    <div class="form-group">
      <label for="">Note</label>
      <input type="text" class="form-control" [(ngModel)]="farm.note" placeholder="write some text...">
    </div>
    <!-- <div class="form-group">
      <label for="date">Time Assign:</label>
      <input type="date" class="form-control" [(ngModel)]="farm.time" placeholder="">
    </div> -->


    <button type="submit" (click)="clickAddFarm()" class="btn btn-primary">Submit</button>
  </div>
  <!-- <app-dual-listbox></app-dual-listbox> -->
</div>
