
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$smartfarm02-primary: mat-palette($mat-indigo);
$smartfarm02-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$smartfarm02-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$smartfarm02-theme: mat-light-theme((
  color: (
    primary: $smartfarm02-primary,
    accent: $smartfarm02-accent,
    warn: $smartfarm02-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($smartfarm02-theme);

body {
  background-color: #FCFCFC;
}

.sidebar {
  /* position: fixed; */
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background-color: #265444;
}

.sidebar a {
  color: white;
}

.sidebar a.active {
  color: #D8B238;
}

.sidebar a i{
  width: 25px;
}

@media (max-width: 767.98px) {
  .sidebar {
      top: 5rem;
  }
}

.position-sticky {
  position: relative;
  top: 0;
  /* height: calc(100vh - 48px); */
  height: 100vh;
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}

/* SmartFarm color palette */
.sf-brown-blackbean {
  color: #3a0504;
}

.sf-orange-cinnabar {
  color: #e84824;
}

.sf-orange-mandarian {
  color: #912110;
}


.sf-green-tepapa {
  color: #265444;
}

.sf-green-tepapa-bg {
  background-color: #265444;
}

.sf-green-tepapa-light-bg {
  background-color: #D1E9E1;
}

.sf-green-salem {
  color: #1c7855;
}

.sf-gold-metallic {
  color: #D8B238;
}

.sf-blue-midnight {
  color: #11193C;
}

.sf-gray-manatee {
  color: #8990AD;
}

.sf-gray-manatee-bg {
  background-color: #8990AD;
}

/* font size */
.text-xs {
  font-size: .7rem;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-body, .mat-body-1, .mat-typography{
  font-family: 'K2D', sans-serif;}

mwl-gauge > .gauge > .dial {
  stroke: #ccc;
  stroke-width: 5;
  fill: rgba(0, 0, 0, 0);
}
mwl-gauge > .gauge > .value {
  stroke: #543526;
  stroke-width: 5;
  fill: rgba(0, 0, 0, 0);
}
mwl-gauge > .gauge > .value-text {
  fill: #543526;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1em;
}
